<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am a third year computer science student at The Ohio State University. Aside from my schooling,
          last summer I worked as a software development intern for Trimble Transportation, where I aided in the 
          enhancement of a web application tied with Microsoft Azure. Currently, I am working as a software
          engineer for Outern, a startup in the Columbus area.
        </p>
        <p>
          With Outern, I have been a contributing member to the software development as well as the business decisions
          of the company from the beginning. I have learned how to develop and enhance a full-stack web application with 
          ReactJS, employ a fully functional database using Google Cloud Firestore, and connect various external APIs.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Built a full-stack application called Trimble Recruit with a team of interns using Angular, Python, and Google's Firestore.
    			</li>
          <li>
            Enhanced an already established web application within Trimble by connecting various departement's data into the application.
          <li>
            Incorporated video recording, full-text search, and back-end cloud functions into the Outern platform.
    			<li>
            Outern team won the "People's Choice Award" at OSU's BOSS(Best of Student Startups) competition in 2019.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
