<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Startups</b>. When I was younger, I was never sure if I wanted to start my own business. However, since I have been fortunate enough to work 
				 on Outern, I have discovered a love for the process of building a company. The idea of creating something brand new that doesn't already exist 
				 is an extremely fascinating idea to me. 
			  </li>
			  <li>
				  <b>Movies</b>. All my life movies have seized my attention. Whether it be Star Wars when I was a kid, or movies like Goodfellas
				  as I grow older, I have always enjoyed finding meaning from cinema.
			  </li>
			  <li>
				  <b>Climbing</b>. About two years ago I started rock climbing, and I haven't been the same since. I love all aspects of climbing, 
				  such as the movement of it, the challenge of it, and the satisfaction of it. I one day hope to make a free ascent of Yosemite's 
				  El Capitan.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
		  Outern is a platform that will give companies and students an entirely new way to interact in a work setting. Companies are able 
		  to offer students "Micro Internships" remotely, with the goal of building working relationships with said students that may eventually 
		  lead to an internship of a full-time hire. This application is being built using ReactJS, Google Cloud Firestore, and various Third-Party 
		  API's such as Stripe and Algolia.
    		</li>
  			<li>
          Python based stock trading, using Alpaca's trading API. A work in progress, with the goal of automating the trading process fully.
  			</li>
  		    </ul>
      </div>
    </div>
  </div>
</section>
